{% extends '/administration/index.html' %}

{% block dashboard_title %}
  Doors Management
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if url_for('administration.doors.index') == request.path %}
  <div class="active section">Doors Management</div>
{% else %}
  <a href="{{ url_for('administration.doors.index') }}" class="section">Doors Management</a>
{% endif %}
{%- endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui labeled icon menu">
      <a class="item" href="{{ url_for('administration.door_groups.create') }}">
        <i class="add icon"></i>
        Create Group
      </a>
      <a class="item" href="{{ url_for('administration.doors.create') }}">
        <i class="add icon"></i>
        Create Door
      </a>

    </div>
  </div>
  <div class="ui container" style="margin-top: 1em;">
  {% if doors | count > 0 %}
  <table class="ui selectable celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Device ID</th>
        <th>Updated Date</th>
        <th>Operation</th>
      </tr>
    </thead>

    <tbody>
	    {% for door in doors %}
        <tr>
	        <td><a href="{{url_for('administration.doors.view', door_id=door.id)}}">{{ door.name }} <i class="large eye icon"></i></a></td>
          <td>{{ door.description }}</td>
          <td>{{ door.device_id }}</td>
          <td>{{ door.updated_date.ctime() }}</td>
          <td>
          {#
          <a href="{{ url_for('administration.history_logs.door_group_logs', group_id=group.id) }}"><i class="circular inverted blue history icon"></i></a>
          <a href="{{ url_for('administration.groups.edit_doorgroup', doorgroup_id=group.id) }}"><i class="circular inverted edit icon"></i></a>
          <a href="{{ url_for('administration.groups.delete_doorgroup', doorgroup_id=group.id) }}"><i class="circular inverted red delete icon"></i></a>
          #}
          </td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
     {% else %}
        <div class="ui info message">
	    <div class="header">
		Don't have any Door Group.
	    </div>
	</div>

  {% endif %}
</div>
{% endblock %}
