{% extends '/administration/index.html' %}

{% block dashboard_title %}
  Doors Management
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if url_for('administration.doors.index') == request.path %}
  <div class="active section">Doors Management</div>
{% else %}
  <a href="{{ url_for('administration.doors.index') }}" class="section">Doors Management</a>
{% endif %}
{%- endblock %}

{% block content %}
  <div>
    <div class="ui labeled icon menu">

      <a class="item" href="{{ url_for('administration.doors.create_or_edit') }}">
        <i class="add icon"></i>
        Create Door
      </a>

      <a class="item" href="{{ url_for('administration.door_groups.create_or_edit') }}">
        <i class="add icon"></i>
        Create Group
      </a>
    </div>
  </div>
  <div style="margin-top: 1em;">
  {% if doors | count > 0 %}
  <table class="ui selectable celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Device ID</th>
        <th>Groups</th>
        <th>Updated Date</th>
        <th class="ui single line">Operation</th>
      </tr>
    </thead>

    <tbody>
	    {% for door in doors %}
        <tr>
	        <td><a href="{{ url_for('administration.doors.view', door_id=door.id) }}">{{ door.name }} <i class="large eye icon"></i></a></td>
          <td>{{ door.description }}</td>
          <td>{{ door.device_id }}</td>
          <td>
            {% for group in door.get_door_groups() %}
              <a href="{{ url_for('administration.door_groups.view', door_group_id=group.id) }}">{{ group.name }}</a>,
            {% endfor %}
          </td>
          <td>{{ door.updated_date.ctime() }}</td>
          <td>
          
          <a href="{{ url_for('administration.history_logs.door_logs', door_id=door.id) }}"><i class="circular inverted blue history icon"></i></a>
          <a href="{{ url_for('administration.doors.create_or_edit', door_id=door.id) }}"><i class="circular inverted edit icon"></i></a>
          <a href="{{ url_for('administration.doors.delete', door_id=door.id) }}"><i class="circular inverted red delete icon"></i></a>
          </td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
     {% else %}
        <div class="ui info message">
	    <div class="header">
		Don't have any Door Group.
	    </div>
	</div>

  {% endif %}
</div>
{% endblock %}
