{% extends '/administration/index.html' %}

{% block dashboard_title %}
  Doors
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if url_for('administration.doors.index') == request.path %}
  <div class="active section">Doors</div>
{% else %}
  <a href="{{ url_for('administration.doors.index') }}" class="section">Doors</a>
{% endif %}
{%- endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui labeled icon menu">
      <a class="item" href="{{ url_for('administration.doors.create') }}">
        <i class="add icon"></i>
        Add
      </a>
    </div>
  </div>

  <div class="ui container" style="margin-top: 1em;">
  {% if doors and doors | count > 0 %}
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Updated Date</th>
        <th>Operation</th>
      </tr>
    </thead>

    <tbody>
      {% for door in doors %}
      <tr>
        <td>{{ door.name }}</td>
        <td>{{ door.description }}</td>
        <td>{{ door.updated_date.ctime() }}</td>
        <td>
          <a href="{{ url_for('administration.doors.edit', door_id=door.id) }}"><i class="edit icon"></i></a>
          <a href="{{ url_for('administration.doors.delete', door_id=door.id) }}"><i class="delete icon"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
