SECRET_KEY = 'pichayon-secretkey-web' # change it when deploy web
PICHAYON_MESSAGE_NATS_HOST = 'localhost:4222'

OAUTH_CLIENT_CACHE_TYPE = 'simple'
AUTHLIB_CACHE_THRESHOLD = 500
AUTHLIB_CACHE_TYPE = 'simple'

# change to pricipal oauth2
PRINCIPAL_CLIENT_KEY = 'oauth2 client key'
PRINCIPAL_CLIENT_SECRET = 'oauth2 client secret'
PRINCIPAL_ACCESS_TOKEN_URL = 'http://localhost:5000/oauth2/token'
PRINCIPAL_AUTHORIZE_URL = 'http://localhost:5000/oauth2/authorize'
PRINCIPAL_API_BASE_URL = 'http://localhost:5000/api/'
PRINCIPAL_CLIENT_KWARGS = {'scope': ['email', 'profile']}


SPARKBIT_API_DATABASE_USERNAME = ''
SPARKBIT_API_DATABASE_PASSWORD = ''
SPARKBIT_API_DATABASE_URL = ''

SPARKBIT_API_DOOR_STATUS = ''
SPARKBIT_API_DOOR_LOCK = ''
SPARKBIT_API_DOOR_UNLOCK = ''
