SECRET_KEY = 'pichayon-secretkey-web' # change it when deploy web
PICHAYON_MESSAGE_NATS_HOST = 'localhost:4222'

# PICHAYON_READER_DEVICE = 'VGUANG-M300'
# ASR1200E
# VGUANG-M300
# VGUANG-SK330

# PICHAYON_WEB_ALLOW_IPS = []


OAUTH_CLIENT_CACHE_TYPE = 'simple'
AUTHLIB_CACHE_THRESHOLD = 500
AUTHLIB_CACHE_TYPE = 'simple'

SPARKBIT_API_DATABASE_USERNAME = ''
SPARKBIT_API_DATABASE_PASSWORD = ''
SPARKBIT_API_DATABASE_URL = ''

SPARKBIT_API_DOOR_STATUS = ''
SPARKBIT_API_DOOR_LOCK = ''
SPARKBIT_API_DOOR_UNLOCK = ''
