# API
flask
flask-mongoengine
flask-jwt-extended
authlib
marshmallow
apispec
marshmallow-jsonapi
loginpass

# CONTROLLER
asyncio-nats-client

# WEB
flask
flask-login
flask-allows
authlib
python-dateutil
marshmallow-jsonapi
marshmallow
python-dateutil

