
wheel

# CONTROLLER
# asyncio-nats-client
nats-py

# WEB
Werkzeug==2.1.2
flask
flask-login
authlib
python-dateutil
# marshmallow-jsonapi
# marshmallow
flask-mongoengine
requests


# Spartbit smart door lock
cloudant
