# CONTROLLER
asyncio-nats-client
RPi.GPIO
mfrc522
tinydb


# WEB
flask
flask-login
flask-allows
authlib==0.12.1
python-dateutil
marshmallow-jsonapi
marshmallow
python-dateutil
flask-mongoengine
loginpass

# Spartbit smart door lock
cloudant
