{% import '/base/html-renderer.html' as renderer %}
{% extends '/administration/authorizations/index.html' %}
{% block dashboard_title %}
  {{ super() }}
  <span class="divider">/</span>
{% if 'add' in request.args %}
  <div class="active section">Add Authority</div>
{% else %}
	<div class="active section">Edit Authority</div>
{% endif %}
{% endblock %}
{% block additional_js %}
  <script type="text/javascript">
    datetime_formatter = {
      datetime: function (datetime, settings) {
        if (!datetime) return '';
        var day = datetime.getDate();
        var month = datetime.getMonth() + 1;
        var year = datetime.getFullYear();
        var hour = datetime.getHours();
        var minute = datetime.getMinutes();
        return year + '-' + ("0" + month).slice(-2) + '-' + ("0" + day).slice(-2) + " " + ("0" + hour).slice(-2) + ":" + ("0" + minute).slice(-2)  ;
      }};
    $('#started_date_calendar').calendar({
      formatter: datetime_formatter,
      ampm: false,
      endCalendar: $('#ended_date_calendar')
    });
    $('#ended_date_calendar').calendar({
      formatter: datetime_formatter,
      ampm: false,
      startCalendar: $('#started_date_calendar')
    });
    $('#start_time')
    .calendar({
      type: 'time',
      ampm: false
    });
    $('#end_time')
    .calendar({
      type: 'time',
      ampm: false
    });
  </script>
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if 'add_authority' in request.path %}
  <div class="active section">Add Authority</div>
{% else %}
	<div class="active section">Edit Authority</div>
{% endif %}
{%- endblock %}

{% block content %}
<div>
  <form class="ui big form" method="POST">
    {{ form.hidden_tag() }}
    <div class="two fields">
      {{ renderer.render_select(form.door_group) }}
      {{ renderer.render_select(form.user_group) }}
    </div>
    <div class="three fields" >
      {{ renderer.render_multiple_select(form.days) }}
      {{ renderer.render_timepicker(form.start_time, timepicker_id='start_time') }}
      {{ renderer.render_timepicker(form.end_time, timepicker_id='end_time') }}
    </div>
    <div class="two fields" >
      {{ renderer.render_calendar(form.started_date, calendar_id='started_date_calendar') }}
      {{ renderer.render_calendar(form.expired_date, calendar_id='ended_date_calendar') }}
    </div>
    <button class="ui submit primary button" type="submit">Confirm</button>
  </form>
</div>

<script>
$('.dropdown')
  .dropdown();
</script>
{% endblock %}
