{% extends '/administration/doors/index.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block dashboard_title %}
Door Authorizations
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if url_for('administration.door_authorizations.index') == request.path %}
	<div class="active section">{{door_group.name}}</div>
{% else %}
	<a href="{{ url_for('administration.door_authorizations.index', group_id=door_group.id) }}" class="section">{{ door_group.name}}</a>
{% endif %}

{%- endblock %}
{% block content %}
<div class="ui container">
    <div class="ui labeled icon menu">
      <a class="item" href="{{ url_for('administration.door_authorizations.add_authority', group_id=door_group.id) }}">
        <i class="add icon"></i>
        Add Authority
      </a>
    </div>
  </div>

  <div class="ui container" style="margin-top: 1em;">
  {% if door_auth.user_group and door_auth.user_group | count > 0 %}
  <table class="ui selectable celled table">
    <thead>
      <tr>
        <th>User Group</th>
        <th>Started Date</th>
        <th>Expired Date</th>
        <th>Grantor</th>
        <th>Operation</th>
      </tr>
    </thead>

    <tbody>
     {% for group in door_auth.user_group %}

      <tr>
	      <td><a href="{{url_for('administration.users.list', group_id=group.group.id)}}">{{ group.group.name }}</a></td>
        <td>{{ group.started_date.ctime() }}</td>
        <td>{{ group.expired_date.ctime() }}</td>
        <td>{{ group.granter.username }}</td>
        <td>
          <a href="{{ url_for('administration.door_authorizations.delete_authority', doorgroup_id=door_auth.door_group.id, usergroup_id=group.group.id) }}"><i class="delete icon"></i></a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  {% else%}
    <div class="ui info message">
        <div class="header">
          No UserGroup in this Door
        </div>
      </div>

  {% endif %}
</div>

<script>
$('#username')
  .dropdown();
</script>
{% endblock %}
