{% extends '/administration/index.html' %}

{% block title %}
  {{ self.dashboard_title() }}
{% endblock %}

{% block dashboard_title %}
  Door Group
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if url_for('administration.door_groups.index') == request.path %}
  <div class="active section">Door Groups</div>
{% else %}
  <a href="{{ url_for('administration.door_groups.index') }}" class="section">Groups</a>
{% endif %}
{%- endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui labeled icon menu">
      <a class="item" href="{{ url_for('administration.door_groups.create_or_edit') }}">
        <i class="add icon"></i>
        Create Group
      </a>
    </div>
  </div>
  <div class="ui container" style="margin-top: 1em;">
  {% if door_groups and door_groups | count > 0 %}
  <table class="ui selectable celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Updated Date</th>
        <th>Operation</th>
      </tr>
    </thead>

    <tbody>
      {% for group in door_groups %}
      <tr>
        <td>
          <a href="{{url_for('administration.door_groups.view', door_group_id=group.id)}}">{{ group.name }}</a>
        </td>
        <td>{{ group.description }}</td>
        <td>{{ group.updated_date.ctime() }}</td>
        <td>
          
          <a href="{{url_for('administration.door_groups.view', door_group_id=group.id)}}" class="ui button primary circular icon"><i class="eye icon"></i></a>
	        <a href="{{ url_for('administration.door_groups.create_or_edit', door_group_id=group.id) }}" class="ui button circular icon yellow"><i class="edit icon"></i></a>
          <a href="{{ url_for('administration.door_groups.delete', door_group_id=group.id) }}" class="ui button circular icon negative"><i class="delete icon"></i></a>
          
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
     <div class="ui info message">
        <div class="header">
          Don't have any Group.
        </div>
      </div>
  {% endif %}
</div>
{% endblock %}
