{% extends '/dashboard/admin/doors/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block content %}
<div class="row">
  <div class="col s12">
	  <h4>Update Group {{ eh.get_validate_class() }}</h4>
    {% if errors is not undefined %}
    <div class="card red lighten-5">
      <div class="card-content red-text text-darken-4">
        <span class="card-title">Errors</span>
          {% for error in errors %}
          <p>{{ error.detail }}</p>
          {% endfor %}
      </div>
    </div>
    {% endif %}

    <form action="{{request.path}}" method="POST">
      {{ form.csrf_token }}
      <div class="row">
        <div class="input-field col s12">
          {{ form.name(class_=eh.get_validate_class(form.name.errors)) }}
          {{ form.name.label }}
          {% if form.name.errors %}
          <div class="red lighten-5 red-text text-darken-4">
            {{ ', '.join(form.name.errors) }}
          </div>
          {% endif %}

        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form.description(class_=eh.get_validate_class(form.description.errors)) }}
          {{ form.description.label }}
          {% if form.description.errors %}
          <div class="red lighten-5 red-text text-darken-4">
            {{ ', '.join(form.description.errors) }}
          </div>
          {% endif %}

        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Update</button>
    </form>
  </div>
</div>
{% endblock %}
