{% extends '/administration/door_groups/index.html' %}

{% block dashboard_title %}
	{{ door_group.name }}
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<a class="active section">{{ door_group.name}}</a> 
{%- endblock %}

{% block content %}
  {#
  <div class="ui container">
    <div class="ui labeled icon menu">
      <a class="item" href="{{ url_for('administration.users.add', door_group_id=door_group.id) }}">
        <i class="add icon"></i>
        Add User
      </a>
    </div>
  </div>
  #}
  <div class="">
    <h3>Door Group {{ door_group.name }}</h3>
    <div class="ui labeled icon menu">
      <a class="item" href="{{ url_for('administration.door_groups.add_door', door_group_id=door_group.id) }}">
        <i class="add icon"></i>
        Add Door
      </a>
    </div>
  </div>


  <div class="" style="margin-top: 1em;">
  {% set members = door_group.doors %}
  <table class="ui selectable celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Tool</th>

      </tr>
    </thead>
    
    <tbody>
      {% for member in members %}
      <tr>
        <td>{{ member.name }}</td>
        <td>{{ member.device_type.title() }}</td>
        <td>{{ member.status }}</td>
        <td>
          <a href="{{ url_for('administration.door_groups.delete_door', door_group_id=door_group.id, door_id=member.id) }}" class="ui button circular icon negative"><i class="delete icon"></i></a>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
