{% extends '/dashboard/admin/users/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block content %}
<div class="row">
  <div class="col s12">
      <h4>Add room to user {{ user.username }}</h4>
    {% if errors is not undefined %}
    <div class="card red lighten-5">
      <div class="card-content red-text text-darken-4">
        <span class="card-title">Errors</span>
          {% for error in errors %}
          <p>{{ error.detail }}</p>
          {% endfor %}
      </div>
    </div>
    {% endif %}

    <form action="{{request.path}}" method="POST">
    {% for sf in form.rooms %}
            {{ form.csrf_token }}
      <div class="row">
        <div class="col s6">
            <b>{{ sf.room.label }} </b><br/>
            {{ sf.room }}
            {{ sf.started_date.label }}
            {{ sf.started_date }}
            {{ sf.expired_date.label }}
            {{ sf.expired_date }}
        </div>
      </div>
      {% endfor %}
      <!-- <div class="input-field">-->

  <!-- <input type="text" class="datepicker">-->

          <!-- </div>-->
      <div class="row">
        <div class="input-field col s12">
            <button type="submit" class="waves-effect waves-light btn">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
    <script>

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems);
  });
    </script>

{% endblock %}
