{% extends '/administration/index.html'%}

{% block dashboard_title%}
Applications Approval
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if url_for('administration.applications.index') == request.path %}
  <div class="active section">Applications Approval</div>
{% else %}
  <a href="{{ url_for('administration.applications.index') }}" class="section">Applications Approval</a>
{% endif %}
{%- endblock %}

{% block content %}
<div class="'ui content">
    <div class='ui segment'>

        <table class="ui celled table">
            <thead>
            <tr>
            <th>ID Number - Name</th>
            <th>Degree</th>
            <th>Advisor</th>
            <th>Room</th>
            <th>Start Date</th>      
            <th>End Date</th>
            <th>Purpose</th>
            <th>Status</th>
            <th>Approve</th>
            </tr>
            </thead>
            <tbody>
                <tr>

                    {% for application in applications %}


                    <td data-label="Name - ID Number">
                        {{ application.user.id_card_number }} {{ application.user.first_name }} {{ application.user.last_name }} 
                    </td>

                    <td data-label="Degree">
                        {{ application.degree }}
                    </td>


                    <td data-label="Advisor">
                        {{ application.advisor.first_name }} {{ application.advisor.last_name }}
                    </td>

                    <td data-label="Room">
                        {{ application.room.name }}
                    </td>

                    <td data-label="Start Date">
                        {{ application.started_date }}
                    </td>

                    <td data-label="End Date">
                        {{ application.ended_date }}
                    </td>

                    <td data-label="Purpose">
                        {{ application.purpose }}
                    </td>

                    <td data-label="Status">
                        {{ application.status }}
                    </td>

                    <td> <a class="ui primary icon button" href="{{ url_for('administration.applications.approve', application_id=application.id)}}"> <i class="check icon"></i> </a> 
                        <a class="ui red icon button" href="{{ url_for('administration.applications.reject', application_id=application.id)}}"> <i class="times icon"></i> </a>
                    </td>
                    


                    
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}