{% extends '/administration/index.html'%}
{% import '/base/html-renderer.html' as renderer %}

{% block dashboard_title%}
Applications Approval
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if url_for('administration.applications.index') == request.path %}
<div class="active section">Applications Approval</div>
{% else %}
<a href="{{ url_for('administration.applications.index') }}" class="section">Applications Approval</a>
{% if request.path.endswith("approved") %}
<i class="right angle icon divider"></i>
<div class="active section">Applications Approved</div>
{% endif %}
{% endif %}
{%- endblock %}

{% block content %}
<div class="'ui content">
    <div class='ui segment'>
        {% if not request.path.endswith("approved") %}
        <div>
            <a class="ui primary button" href="{{ url_for('administration.applications.approved')}}">
                Approved Applications
            </a>
        </div>
        {% endif %}
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>ID Number - Name</th>
                    <th>Degree</th>
                    <th>Advisor</th>
                    <th>Room</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Purpose</th>
                    <th>Status</th>
                    <th>Group</th>
                    <th>Approve</th>
                </tr>
            </thead>
            <tbody>
                {% for application in paginated_applications.items %}
                <tr>
                      <td data-label="Name - ID Number">
                        <a href="{{ url_for('accounts.index', user=application.user.id) }}">
                          {{ application.user.first_name }} {{ application.user.last_name }} <br/>
                          {{ application.user.username }}
                        </a>
                    </td>
                    <td data-label="Degree">
                        {{ application.degree }}
                    </td>
                    <td data-label="Advisor">
                        {{ application.advisor.first_name }} {{ application.advisor.last_name }}
                    </td>
                    <td data-label="Room">
                        {{ application.room.name }}
                    </td>
                    <td data-label="Start Date">
                        {{ application.started_date.strftime("%Y-%m-%d %H:%M") }}
                    </td>
                    <td data-label="End Date">
                        {{ application.ended_date.strftime("%Y-%m-%d %H:%M") }}
                    </td>
                    <td data-label="Purpose">
                        {{ application.purpose }}
                    </td>
                    <td data-label="Status">
                        {{ application.status }}
                        {% if application.status == "rejected" %}
                        <br>({{ application.remark if application.remark }})
                        {% endif %}
                    </td>
                    <td data-label="Group">
                        {% for member in application.get_user_group_members() %}
                        <a href="{{ url_for('administration.user_groups.view', user_group_id=member.group.id) }}">
                            {{ member.group.name }}</a>
                        {% endfor %}
                    </td>
                    <td class="ui single line">
                        {% if application.status == "pending" %}
                        <a class="ui primary icon button"
                            href="{{ url_for('administration.applications.approve', application_id=application.id)}}">
                            <i class="check icon"></i>
                        </a>
                        <a class="ui red icon button"
                            href="{{ url_for('administration.applications.reject', application_id=application.id)}}">
                            <i class="times icon"></i>
                        </a>
                        {% else %}
                        <a class="ui gray icon button" style="pointer-events: none;">
                            <i class="check icon"></i>
                        </a>
                        <a class="ui gray icon button" style="pointer-events: none;">
                            <i class="times icon"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="ui grid">
            <div class="column row">
                <div class="center aligned column">
                    {{ renderer.render_pagination(paginated_applications, 'administration.applications.index' if "approved" not in request.path else 'administration.applications.approved') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
