{% extends 'rooms/index.html'%}
{% import '/base/html-renderer.html' as renderer%}

{% block dashboard_title%}
Room List
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('rooms.index')}}" class="section">Room</a>
{% endblock %}

{% block content %}
    <div class="'ui content">
        <div class='ui segment'>
            <form class="'ui form" method="POST">

                {{ form.hidden_tag() }}

                {{ renderer.render_field(form.name) }}

            </form>
        </div>
    </div>
{% endblock %}