{% extends 'base/default-dashboard.html'%}

{% block dashboard_title%}
Request Card
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('request.index')}}" class="section">Request</a>
{% endblock %}

{% block content %}
        <div class="'ui content">
                <div class='ui segment'>

                        {{ request.user.first_name}}

                        {{ request.room }}

                        {{ request.purpose }}


                </div>
        </div>

<a class="ui primary button" href="{{ url_for('request.request')}}">
        Create Request
</a>

{% endblock %}