{% extends 'request/index.html'%}
{% import '/base/html-renderer.html' as renderer%}

{% block dashboard_title%}
Create Request
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('request.index')}}" class="section">Request</a>
{% endblock %}

{% block content %}
    <div class="'ui content">
        <div class='ui segment'>
            <form class="'ui form" method="POST">

                {{ form.hidden_tag() }}

                {{ renderer.render_field(form.room) }}

                {{ renderer.render_field(form.purpose) }}

                {{ renderer.render_field(form.started_date) }}

                {{ renderer.render_field(form.ended_date) }}

                <button class="ui primary button" type="submit">Create</button>

            </form>
        </div>
    </div>


{% endblock %}