
<div class="item">
  {%- if current_user.get_image() %}
  <a href="{{ url_for('accounts.index') }}" class="ui image">
    <img class="ui avatar image" src="{{ current_user.get_image() }}">
  </a>
{% endif -%}
  <a href="{{ url_for('accounts.index') }}"><span class="white-text name">{{ current_user.first_name }} {{ current_user.last_name }}</span></a><br/>
  <a href="{{ url_for('accounts.index') }}"><span class="white-text email">{{ current_user.email }}</span></a>
</div>

<a class="item" href="{{ url_for('dashboard.index') }}"><i class="icon dashboard"></i>Dashboard</a>

{% if current_user.has_roles(['supervisor', 'admin']) %}
{% endif %}
{% if current_user.has_roles(['admin']) %}
  <a class="item" href="{{ url_for('administration.doors.index') }}"><i class="door closed icon"></i>Door Manager</a>
  <a class="item" href="{{ url_for('administration.door_groups.index') }}"><i class="landmark icon"></i>Door Groups</a>
  <a class="item" href="{{ url_for('administration.user_groups.index') }}"><i class="group closed icon"></i>User Groups</a>
  <a class="item" href="{{ url_for('administration.authorizations.index') }}"><i class="user shield icon"></i>Authorization</a>
  <a class="item" href="{{ url_for('administration.history_logs.index') }}"><i class="history closed icon"></i>History Log</a>
  <a class="item" href="{{ url_for('administration.users.index') }}"><i class="users icon"></i>Users</a>
  
{% endif %}

<a class="item" href="{{ url_for('applications.index') }}"><i class="address card icon"></i>Door Application</a>
<a class="item" href="{{ url_for('accounts.index') }}"><i class="icon user"></i>Account</a>

{% if current_user.has_roles(['admin']) %}

  <a class="item" href="{{ url_for('administration.applications.index') }}"><i class="list alternate icon"></i>Applications Approval</a>
    
{% endif %}

<a class="item" href="{{ url_for('accounts.logout') }}"><i class="icon sign out"></i>Logout</a>


