{% extends 'base/default-dashboard.html'%}

{% block dashboard_title%}
Room Application
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('applications.index')}}" class="section">Application Lists</a>
{% endblock %}

{% block content %}

        <div class="'ui content">
                <div class='ui segment'>
                        <div>
                                <a class="ui primary button" href="{{ url_for('applications.apply')}}">
                                        Create Apply
                                </a>
                        </div>
                        <table class="ui celled padded table">
                                <thead>
                                  <tr>
                                  <th>Name</th>
                                  <th>ID Number</th>
                                  <th>Advisor</th>
                                  <th>Room</th>
                                  <th>Start Date</th>      
                                  <th>End Date</th>
                                  <th>Purpose</th>
                                  <th>Remark</th>
                                  <th>Status</th>
                                  <th>Cancel</th>
                                </tr></thead>
                                <tbody>
                                        <tr>
                                        {% for application in applications %}
                                        <td class="single line">
                                                {{ application.user.first_name }} {{ application.user.last_name }}
                                        </td>
                                        <td class="center aligned">
                                                {{ application.user.id_card_number }}
                                        </td>
                                        <td>
                                                {{ application.advisor }}
                                        </td>
                                        <td class="center aligned">
                                                {{ application.room.name }}
                                        </td>
                                        <td>
                                                {{ application.started_date }}
                                        </td>
                                        <td>
                                                {{ application.ended_date }}
                                        </td>
                                        <td>
                                                {{ application.purpose }}
                                        </td>
                                        <td>
                                                {{ application.remark}}
                                        </td>
                                        <td>
                                                {{ application.status }}
                                        </td>

                                        <td>
                                                <a class="ui red icon button" href="{{ url_for('applications.cancel', application_id=application.id) }}">
                                                        <i class="times icon"></i>
                                                </a>
                                        </td>
                                        </tr>
                                      </tbody>
                                      <tfoot>
                                          </div>
                                        </th>
                                      </tr>
                                      {% endfor %}
                                    </table>
                        
        

{% endblock %}

