{% if request.endpoint == 'accounts.add_or_edit_identity' %}
{% extends '/accounts/index.html' %}
{% else %}
{% extends '/administration/users/index.html' %}
{% endif %}

{% import '/base/html-renderer.html' as renderer %}
{% block dashboard_title %}
  Edit Identity
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
  <div class="active section">Add or Edit Identity</div>
{%- endblock %}
{% block content %}
<form class="ui big form" method="POST">
  {{ form.csrf_token }}
  <div class="two fields">
    {{ renderer.render_field(form.identifier) }}
    {{ renderer.render_select(form.type) }}
  </div>
	<div class="field">
      {{ renderer.render_select(form.status) }}
  </div>

<button class="ui submit primary button" type="submit">Confirm</button>
</form>
<script>
$('.ui.dropdown')
  .dropdown()
;
</script>
{% endblock %}
