{% extends '/administration/groups/users_list.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block dashboard_title %}
	Adding User
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
  <div class="active section">Adding User</div>
{%- endblock %}
{% block content %}
	<div class="ui container">
<form class="ui big form" method="POST">
	{{ form.csrf_token }}
	<div class="field">
      {{ renderer.render_multiple_select(form.username) }}
	</div>
<button class="ui submit primary button" type="submit">Confirm</button>
</form>
</div>
<script>
$('#username')
  .dropdown();
</script>
{% endblock %}
