{% extends '/administration/users/index.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block dashboard_title %}
	Edit
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<div class="active section">Edit {{user.username}}</div>
{%- endblock %}
{% block content %}
<div class="ui container" style="margin-top: 1em;">
  <form class="ui big form" method="POST">
    {{ form.csrf_token }}
    <div class="six wide field">
        {{ renderer.render_multiple_select(form.roles) }}
    </div>
    <div class="six wide field">
        {{ renderer.render_field(form.system_id) }}
    </div>
    <button class="ui submit primary button" type="submit">Update</button>
  </form>
</div>

<script>
$('#roles')
  .dropdown();
</script>

{% endblock %}
