{% extends '/administration/index.html' %}

{% block dashboard_title %}
  Doors
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if url_for('administration.users.index') == request.path %}
  <div class="active section">Users</div>
{% else %}
  <a href="{{ url_for('administration.users.index') }}" class="section">Users</a>
{% endif %}
{%- endblock %}

{% block content %}
  <div class="ui container" style="margin-top: 1em;">
  {% if users and users | count > 0 %}
  <table class="ui celled table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>Name(Thai)</th>
            <th>Status</th>
            <th>Rooms</th>
        </tr>
    </thead>

    <tbody>

        {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
	  <td>{{ user.first_name }} {{ user.last_name }}</td>
	  <td>{{ user.first_name_th }} {{ user.last_name_th }}</td>
	  <td>{{ user.roles[-1] }}</td>
          <td>{{ user.rooms | join(', ') }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
