{% extends '/administration/index.html' %}

{% block dashboard_title %}
  Doors
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if url_for('administration.users.index') == request.path %}
  <div class="active section">Users</div>
{% else %}
  <a href="{{ url_for('administration.users.index') }}" class="section">Users</a>
{% endif %}
{%- endblock %}

{% block content %}
  <div style="margin: 1em 0 1em 0;" class="right aligned message">
    <a class="ui primary icon button" href="{{ url_for('administration.users.add_or_edit') }}"><i class="add icon"></i> Add</a>
  </div>
  <div>
  {% if users and users | count > 0 %}
  <table class="ui selectable celled table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>Status</th>
            <th>RFID</th>
            {# <th>Passcode</th> #}
            <th>Operation</th>
        </tr>
    </thead>

    <tbody>

    {% for user in users %}
    <tr>
      <td>
        <a href="{{url_for('accounts.index', user=user.id)}}">{{ user.username }}</a>
      </td>
      <td>{{ user.email }}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.roles | join(', ') }}</td>
      <td>
      
      {% if user.identities | length > 0%}
          {#
          <i class="large check icon green"></i>
          {% else %}
            <i class="large delete icon red"></i>
          #}
          {% for identity in user.identities if identity.status == 'active' %}
            {{ '*' * identity.identifier[:-3] | length + identity.identifier[-3:] }},
          {% endfor %}
      {% endif %}
     
      </td>
      {#
      <td>
        {% if user.passcode |length >0 %}
        {{ user.passcode}}
          {% else %}
          <i class="large delete icon red"></i>
        {% endif %}
        <a href="{{url_for('administration.users.revoke_passcode', user_id=user.id)}}"><i class="large undo alternate icon rigth"></i></a>
      </td>
      #}
      <td>
        <a href="{{url_for('administration.users.add_or_edit', user_id=user.id)}}"><i class="circular inverted edit icon"></i></a>
        <a href="{{url_for('administration.users.identity', user_id=user.id)}}"><i class="circular inverted id card icon"></i></a>
      </td>
    </tr>
        {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
