{% extends '/administration/index.html' %}

{% block dashboard_title %}
  Doors
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if url_for('administration.users.index') == request.path %}
  <div class="active section">Users</div>
{% else %}
  <a href="{{ url_for('administration.users.index') }}" class="section">Users</a>
{% endif %}
{%- endblock %}

{% block content %}
  <div class="ui container" style="margin-top: 1em;">
  {% if users and users | count > 0 %}
  <table class="ui selectable celled table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>Status</th>
            <th>RFID</th>
            <th>Operation</th>
        </tr>
    </thead>

    <tbody>

    {% for user in users %}
    <tr>
	  <td>
	    <a href="{{url_for('accounts.index', user=user.id)}}">{{ user.username }}</a>
	  </td>
          <td>{{ user.email }}</td>
	  <td>{{ user.first_name }} {{ user.last_name }}</td>
	  <td>{{ user.roles[-1].capitalize()}}</td>
    <td>
    {% if user.rfid | length > 0%}
        <i class="large check icon green"></i>
        {% else %}
        <i class="large delete icon red"></i>
    {% endif %}

    </td>
    <td>
    <a href="{{url_for('administration.users.edit', user_id=user.id)}}"><i class="circular inverted edit icon"></i></a>
    </td>
    </tr>
        {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
