{% extends '/base/default-dashboard.html' %}

{% block content %}

<div class="ui grid">

  {% for door_group in door_groups %}
  <div class="four wide column">
  <div class="ui cards">
    <div class="card">
      <div class="content">
         <!-- <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">-->
      <div class="header">
         <i class="door closed icon"></i>{{ door_group.name |upper}}
      </div>
      <div class="meta">
        {{ door_group.description }}
      </div>
      <!-- <div class="description">-->
      <!--   Elliot requested permission to view your contact details-->
      <!-- </div>-->
    </div>
      <div class="extra content">
        {% for door in door_group.members %}
          Door: {{ door.name }}
          <div class="ui two buttons">
            <div class="ui basic green button">Open</div>
            <div class="ui basic red button">Decline</div>
          </div>
        {% if loop.index != door_group.members| length%}
          <div class="ui divider"></div>
        {% endif %}
        {% endfor %}
        {% if door_group.members | length == 0 %}
          Don't have any door in this group.
        {% endif%}

      </div>
    </div>
  </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
