{% extends '/administration/index.html' %}

{% block dashboard_title %}
  Doors Management
{% endblock %}

{%- block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if url_for('administration.doors.index') == request.path %}
  <div class="active section">Doors Management</div>
{% else %}
  <a href="{{ url_for('administration.doors.index') }}" class="section">Doors Management</a>
  <a href="{{ url_for('administration.sparkbit.index') }}" class="section">Sparkbit Door</a>
{% endif %}
{%- endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui labeled icon menu">
      <a class="item" href="{{ url_for('administration.sparkbit.create') }}">
        <i class="add icon"></i>
        Create Sparkbit Door
      </a>
    </div>
  </div>

  <div class="ui container" style="margin-top: 1em;">
  {% if sparkbit_door_systems | count > 0 %}
  <table class="ui selectable celled table">
    <thead>
      <tr>
        <th>Door</th>
        <th>Name</th>
        <th>Description</th>
        <th>Device ID</th>
        <th>Creator</th>
        <th>Updated Date</th>
        <th>Operation</th>
      </tr>
    </thead>
    
    <tbody>
	    {% for sb_door in sparkbit_door_systems %}

      <tr>
	      <td><a href="{{ url_for('administration.doors.index') }}">{{ sb_door.door.name }}</a></td>
	      <td>{{ sb_door.name }}</td>
        <td>{{ sb_door.description }}</td>
        <td>{{ sb_door.device_id }}</td>
        <td>{{ sb_door.creator.username }}</td>
        <td>{{ sb_door.updated_date.ctime() }}</td>
        <td>
          <a href="{{ url_for('administration.sparkbit.edit', sparkbit_door_id=sb_door.id) }}"><i class="circular inverted edit icon"></i></a>
          <a href="{{ url_for('administration.sparkbit.delete', sparkbit_door_id=sb_door.id) }}"><i class="circular inverted red delete icon"></i></a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
   
  </table>
  {% else %}
    <div class="ui info message">
	    <div class="header">
		    Don't have any Sparkbit Door System.
	    </div>
	  </div>
  {% endif %}
</div>
{% endblock %}
